.contact-section {
    padding: 30px 0 50px 0;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 450px;
        text-align: left;
        padding: 10px 0;

        * {
          padding-bottom: 10px;
          box-sizing: border-box;
        }

        .email, .subject, .message {
            width: 100%;
            margin: 0 auto;
            label {
                display: block;
                padding: 0;
                margin: 0;
                font-family: 'Varela Round';
            }
        }

        .id {
            display: flex;
            justify-content: space-between;
            height: 80px;
            width: 100%;
            margin: 0 auto;

            .firstName {
              padding-right: 60px;
            }

            .firstName, .lastName,
            {
                display: inline-block;
                width: 50%;

                label {
                    display: block;
                    padding: 0;
                    margin: 0;
                    font-family: 'Varela Round';
                }
            }
        }

        input[name="email"], input[name="firstName"], input[name="lastName"] {
            width: 100%;
            height: 40px;
        }

        .subject {
            input[name="subject"] {
                width: 100%;
                height: 40px;
            }
        }

        .message {
            textarea {
                width: 100%;
                resize: none;
                margin-bottom: 20px;
                box-sizing: border-box;
            }

            button {
              margin: 0;
              padding: 8px 77px;
              transition: all .3;

              &:hover {
                  border: 1px solid rgba(0, 0, 0, .7);
              }
            }
        }
    }
}
